@font-face {
    font-family: customFont;
    src: url(../Righteous/Righteous-Regular.ttf);
}

:root{
    --primary-color: #202441;
    --secondary-color: #353853;
    --accent-color: #b77dd4;
    --text-color: #faf7f5;

    --wsec: #868cb6;
}

body{
    margin: 0px;
    font-family: customFont;
    background-color: var(--primary-color);
    color: var(--text-color);
}
button {
    font-family: customFont;
    color: var(--text-color);
}

/* TOP HEAD */
#topHead{
    background-color: var(--secondary-color);
    display: flex;
    height: 10vh;
}
.logo{
    image-rendering: pixelated;
}
#spacement{
    display: flex;
    width: 95vw;
}
@keyframes logoutGo {
    from{
        background-color: var(--secondary-color);
        border-color: var(--primary-color);
    }to{
        background-color: var(--accent-color);
        border-color: var(--accent-color);
    }
}
@keyframes logoutGoBACK {
    from{
        background-color: var(--accent-color);
        border-color: var(--accent-color);
    }to{
        background-color: var(--secondary-color);
        border-color: var(--primary-color);
    }
}
#logout{
    animation: logoutGoBACK 0.5s ease;
    background-color: var(--secondary-color);
    border-color: var(--primary-color) ;
    border-style: solid;
    border-radius: 25px;
    border-width: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 5vw;
    height: 8vh;
    color: var(--text-color);
    font-family: customFont;
}
#logout:hover{
    animation: logoutGo 0.5s ease;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

/* CHAT CATEGORY*/
.chat{
    height: 80vh;
    overflow-y: auto;
}
#senderDiv{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 10vh;
}
@keyframes chatGo_Go {
    from{
        background-color: var(--secondary-color);
        border: solid 5px var(--secondary-color);
    }to{
        background-color: var(--accent-color);
        border: solid 5px var(--accent-color);
    }
}
@keyframes chatGo_Go_BACK {
    from{
        background-color: var(--accent-color);
        border: solid 5px var(--accent-color);
    }to{
        background-color: var(--secondary-color);
        border: solid 5px var(--secondary-color);
    }
}
#chatInput{
    animation: chatGo_Go_BACK ease 0.5s;
    width: 90%;
    height: 40px;
    margin: 5px;
    background-color: var(--secondary-color);
    border: solid 5px;
    border-color: var(--primary-color);
    border-radius: 20px;
    text-align: center;
    color: var(--text-color);
    font-family: customFont;
}
#chatInput:focus, #chatInput:hover{
    animation: chatGo_Go 0.5s ease;
    background-color: var(--accent-color);
    border: solid 5px var(--accent-color);
}
.fixer{
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    width: auto;
}
@keyframes senderGo {
    from{
        background-color: var(--secondary-color);
        border-color: var(--primary-color);
    }to{
        background-color: var(--accent-color);
        border-color: var(--accent-color);
    }
}
@keyframes senderGoBACK {
    from{
        background-color: var(--accent-color);
        border-color: var(--accent-color);
    }to{
        background-color: var(--secondary-color);
        border-color: var(--primary-color);
    }
}
#sender{
    animation: senderGoBACK 0.5s ease;
    background-color: var(--secondary-color);
    border-color: var(--primary-color);
    border-style: solid;
    border-radius: 25px;
    border-width: 5px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 5%;
    height: 50px;
    color: var(--text-color);
    font-family: customFont;
}
#sender:hover{
    animation: senderGo 0.5s ease;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.message{
    padding: 0px 20px 0px 20px;
}
.message p{
    margin: 20px;
}
.userImage{
    width: 40px;
    image-rendering: pixelated;
    border-radius: 10px;
    margin: 0px 20px 0px 0px;
}